<%- include('../layouts/head.ejs') %>


  <div class="row p-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h3>
        <%= __('signup')%>
          <%= __('form')%>
      </h3>
      <p style="color: red;">
      </p>
      <div class="row">
        <form method="post" action="/signup">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">
                  <%= __('register_form.fields.first_name')%>
                </label>
                <input type="text" name="first_name" class="form-control" id="exampleFormControlInput1"
                  placeholder="<%= __('register_form.placeholder.enter_first_name')%>">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">
                  <%= __('register_form.fields.last_name')%>
                </label>
                <input type="text" name="last_name" class="form-control" id="exampleFormControlInput2"
                  placeholder="<%= __('register_form.placeholder.enter_last_name')%>">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="exampleFormControlInput3" class="form-label">
                  <%= __('register_form.fields.email')%>
                </label>
                <input type="email" name="email" class="form-control" id="exampleFormControlInput3"
                  placeholder="<%= __('register_form.placeholder.enter_first_name')%>" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="exampleFormControlInput4" class="form-label">
                  <%= __('register_form.fields.password')%>
                </label>
                <input type="password" name="password" class="form-control" id="exampleFormControlInput4"
                  placeholder="<%= __('register_form.placeholder.enter_password')%>" required>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <label for="exampleFormControlInput5" class="form-label">
                  <%= __('register_form.fields.mobile_number')%>
                </label>
                <input type="number" name="mobile_number" class="form-control" id="exampleFormControlInput5"
                  placeholder="<%= __('register_form.placeholder.enter_mobile_number')%>">
              </div>
            </div>
          </div>
          <div class="d-flex">
            <button class="btn btn-primary" type="submit">
              <%= __('signup')%>
            </button>
            <p style="margin-left:20px">
              <%= __('register_form.already_signup')%><a href="/login">
                  <%= __('login')%>
                </a>
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <%- include('../layouts/foot.ejs') -%>