<%- include('../layouts/head.ejs') %>


    <h1>
        <%= __('contact_form.create_new_contact')%>
    </h1>
    <a href="/contacts">
        <%= __('contact_form.back_to_contacts')%>
    </a>

    <%- include('./form',{ action: '/contacts' , contact: null, buttonText: __('submit') }); %>


        <%- include('../layouts/foot.ejs') %>