<%- include('../layouts/head.ejs') %>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row p-4">
                <div class="col-md-6">
                    <h3>
                        <%= __('contact_form.contact_list')%>
                    </h3>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            <%= __('contact_form.table.name')%>
                        </th>
                        <th scope="col">
                            <%= __('contact_form.table.email')%>
                        </th>
                        <th scope="col">
                            <%= __('contact_form.table.message')%>
                        </th>
                        <th scope="col">
                            <%= __('contact_form.table.action')%>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% contacts.forEach((contact, index)=> { %>
                        <tr>
                            <th scope="row">
                                <%= index+1 %>
                            </th>

                            <td>
                                <%= contact.name.charAt(0).toUpperCase() + contact.name.slice(1) %>
                            </td>
                            <td>
                                <%= contact.email %>
                            </td>
                            <td>
                                <%= contact.message.charAt(0).toUpperCase() + contact.message.slice(1) %>
                            </td>
                            <td class="d-flex">
                                <a href="/contacts/<%= contact._id %>"><i
                                        class="action_eye fa-solid fa-eye text-dark p-1"></i></a>
                                <a href="/contacts/<%= contact._id %>/edit"><i
                                        class="fa-solid fa-pen-to-square text-primary p-1"></i></a>
                                <form action="/contacts/<%= contact._id %>/delete" method="POST"
                                    style="display:inline;">
                                    <button style="border: none; background: none;" type="submit"><i
                                            class="fa-solid fa-trash text-danger p-1"></i></button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>


    <%- include('../layouts/foot.ejs') %>