<%- include('../layouts/head.ejs') %>


    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="py-4">
                <h4>
                    <%= __('contact_detail')%>
                </h4>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= contact.name %>
                    </h5>
                    <p class="card-text">
                        <%= contact.email %>
                    </p>
                    <p class="card-text">
                        <%= contact.message %>
                    </p>
                    <a href="/contacts" class="btn btn-primary">
                        <%= __('contact_form.back_to_contacts')%>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <%- include('../layouts/foot.ejs') %>